#historyBtn{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 28px;
    height: 28px;
    background-image: url('../imgs/history_128.png');
    background-size: 28px 28px;
    cursor: pointer;
}

#historyPanel{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 860px;
    height: 70%;
    z-index: 9;
    background:rgba(0,0,0,0.6); 
    font-size: 12px;
}
#historyPanelTitle {
    color: #FFFFFF;
    text-align: center;
    background: #0F6DB3;
}
#historyPanelTitleTab {
    float: left;
    margin-left: 6px;
}
.history-tab {
    margin-right: 5px;
    cursor: pointer;
    color: #CCC;
}
.history-tab.cur {
    font-weight: bold;
    color: #FFF;
}
#historyTitleBtn {
    float: right;
    margin-right: 6px;
}
.history-title-btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 3px;
}

#historyPanel ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#historyList {
}
#historyListWrapper {
    height: 100%;
    overflow: scroll;
}
#historyListWrapper>ul>li{
    background-color: #FFF;
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
}

.history-sql-header{
    border-bottom: 1px dashed #CCC;
    height: 15px;
    line-height: 15px;
}

.history-sql-header span::selection {
    background:#64A857; 
    color:#fff;
}

.history-sql-db{
    margin: 0 0 5px 5px;
    position: relative;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.history-sql-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    cursor: pointer;
}

.history-sql-star{
    background-image: url('../imgs/no_star.png');
}
.history-sql-star.stared{
    background-image: url('../imgs/star.png');
}

.history-sql-delete{
    background-image: url('../imgs/delete.png');
}
.history-sql-delete:hover{
    background-image: url('../imgs/delete_active.png');
}
.history-sql-run{
    background-image: url('../imgs/run.png');
}

.history-sql-time {
    color: #CCC;
    position: relative;
    float: right;
    margin-right: 10px;
}

.history-sql-body {
    padding: 2px;
    padding-left: 8px;
    cursor: pointer;
}
.stared .history-sql-db,  .stared .history-sql-body{
    color: #B00000;
    font-weight: bold;
}